<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

</body>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 align="center">Look Inna Book</h1>
            <p class="lead"></p>
        </div>
        <div>
          <h2 align="center">An online store for books!</h2>
        </div>

        <footer class="footer">
            <p>&copy; Look_Inna_Book 2015</p>
        </footer>

    </div>
</body>

</html>
