<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sty.css" />
    <link rel="stylesheet" type="text/css" href="/css/menubtn.css" />
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
    <link rel="stylesheet" type="text/css" href="/css/book_grid.css" />
  </head>
  <body class = "wrapper">
    <header id="header">
        <!--h3 class="topnav"><a href="#">Look Inna Book</h3-->
        <div id="menub" onclick="menu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <sidenav id="sideNav" class="sidenav">
          <!--a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a-->
          <a href="/">Home</a>
          <a href="showCart">Cart</a>
          <a href="showCategories">Categories</a>
          <a href="showSignin">Sign In</a>
          <a href="showSignUp">Sign Up</a>
          <a href="allbooks">get all books</a>
        </sidenav>
        <h id="center_title">Look Inna Book</h>
        <search id="search">
          <form id="content">
            <input type="text" name="input" class="input" id="search-input">
            <button type="reset" class="search" id="search-btn"></button>
          </form>
        </search>
    </header>
    <form id="browse" >
      <h2>New</h2>
      <grid class = "grid-container">
        <% for(var i=0; i<3; i++) { %>
          <%var cname = "book"+i;%>
          <div class=<%cname%>>
            <% var name = "/img/books/" + books[i].bk_name + ".jpg"; %>
            <img src=<%name%> >
            <span></span><%= books[i].bk_name %>
            <span></span><%= books[i].bk_price %>
          </div>
        <% } %>
        <!--div class="book1">
          <img src="/img/books/Dune.jpg">
          <p>Dune</p>
          <p>$6.99</p>
        </div>
        <div class="book2">
          <img src="/img/books/The Hitchhikers Guide To The Galaxy.jpg">
          <p>The Hitchhikers Guide To The Galaxy</p>
          <p>$4.99</p>
        </div>
        <div class="book3">
          <img src="/img/books/The Hitchhikers Guide To The Galaxy.jpg">
          <p>The Hitchhikers Guide To The Galaxy</p>
          <p>$4.99</p>
        </div-->
      </grid>
      <h2>Trending</h2>
      <grid class = "grid-container">
        <div class="book1">
          <img src="/img/books/Dune.jpg">
          <p>Dune</p>
          <p>$6.99</p>
        </div>
        <div class="book2">
          <img src="/img/books/The Hitchhikers Guide To The Galaxy.jpg">
          <p>The Hitchhikers Guide To The Galaxy</p>
          <p>$4.99</p>
        </div>
        <div class="book3">
          <img src="/img/books/The Hitchhikers Guide To The Galaxy.jpg">
          <p>The Hitchhikers Guide To The Galaxy</p>
          <p>$4.99</p>
        </div>
      </grid>
      <h2>Staff Picks</h2>
      <grid class = "grid-container">
        <div class="book1">
          <img src="/img/books/Dune.jpg">
          <p>Dune</p>
          <p>$6.99</p>
        </div>
        <div class="book2">
          <img src="/img/books/The Hitchhikers Guide To The Galaxy.jpg">
          <p>The Hitchhikers Guide To The Galaxy</p>
          <p>$4.99</p>
        </div>
        <div class="book3">
          <img src="/img/books/The Hitchhikers Guide To The Galaxy.jpg">
          <p>The Hitchhikers Guide To The Galaxy</p>
          <p>$4.99</p>
        </div>
      </grid>
    </form>
  </body>
  <!--footer id="footer">
      <p>&copy; Look_Inna_Book 2020</p>
  </footer-->
  <script>
    function menu(x){
      x.classList.toggle("change");
      console.log(x.classList);
      var sidenavw = document.getElementById("sideNav").style.width
      if(sidenavw == "250px"){
        closeNav();
      }else{
        openNav();
      }
    }

    function openNav(){
      document.getElementById("sideNav").style.width = "250px";
    }

    function closeNav(){
      document.getElementById("sideNav").style.width = "0";
    }

    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");

    const expand = () => {
      searchBtn.classList.toggle("close");
      input.classList.toggle("square");
    };

    searchBtn.addEventListener("click", expand);
  </script>
</html>
